Repository JonasTischer/django-ninja-next: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, local-biome-check, frontend-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.8
    hooks:
      - id: uv-lock


  - repo: local
    hooks:
      # Backend hooks
      - id: ruff
        name: ruff
        entry: bash -c "cd backend && uv run ruff check --fix"
        language: system
        types: [python]

      # Frontend hooks
      - id: local-biome-check
        name: biome check
        entry: bash -c "cd frontend && bun run lint:fix"
        language: system
        types: [text]
        files: "\\.(jsx?|tsx?|c(js|ts)|m(js|ts)|d\\.(ts|cts|mts)|jsonc?|css|svelte|vue|astro|graphql|gql)$"

      - id: frontend-typecheck
        name: frontend typecheck
        entry: bash -c "cd frontend && bun run typecheck"
        language: system
        pass_filenames: false
        types_or: [javascript, jsx, ts, tsx, json]

Update to latest state
  frontend/src/components/common/free-counter.tsx
  frontend/src/components/common/pro-modal.tsx
  frontend/src/components/layout/Header.tsx
Due: local-biome-check, frontend-typecheck

Add cokerfile and static storage
  README.md
  backend/.env.local
  backend/.gitignore
  backend/Dockerfile
  backend/core/settings.py
  backend/docker_entrypoint.py
  backend/pyproject.toml
  backend/uv.lock
Due: ruff

Remove populate db
  backend/db.sqlite3
  backend/docker_entrypoint.py
Due: ruff

Add google social login
  backend/.env.local
  backend/.gitignore
  backend/core/settings.py
  backend/core/urls.py
  backend/db.sqlite3
  backend/pyproject.toml
  backend/requirements.txt
  backend/users/api.py
  backend/users/schemas.py
  backend/users/services.py
  backend/uv.lock
  frontend/openapi.json
  frontend/src/components/google-sign-in-button.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/signup-form.tsx
  frontend/src/generated/backend-client/@tanstack/react-query.gen.ts
  frontend/src/generated/backend-client/schemas.gen.ts
  frontend/src/generated/backend-client/sdk.gen.ts
  frontend/src/generated/backend-client/types.gen.ts
  frontend/src/generated/backend-client/zod.gen.ts
  frontend/src/tanstack/features/auth/mutations.ts
Due: ruff, local-biome-check, frontend-typecheck

Add guides and update google button
  frontend/src/components/google-sign-in-button.tsx
  guides/google-oauth-setup.md
  guides/quick-setup-checklist.md
Due: local-biome-check, frontend-typecheck

WIP add stripe
  STRIPE_SETUP.md
  backend/core/api.py
  backend/core/settings.py
  backend/db.sqlite3
  backend/payments/__init__.py
  backend/payments/admin.py
  backend/payments/api.py
  backend/payments/management/__init__.py
  backend/payments/management/commands/__init__.py
  backend/payments/management/commands/create_plans.py
  backend/payments/models.py
  backend/payments/schemas.py
  backend/payments/services.py
  backend/pyproject.toml
  backend/uv.lock
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/nav-pro-upgrade.tsx
  frontend/src/components/pro-modal.tsx
  frontend/src/lib/stripe.ts
Due: ruff, local-biome-check, frontend-typecheck

Many fixes from filly
  README.md
  backend/Dockerfile
  backend/core/settings.py
  backend/payments/api.py
  backend/payments/models.py
  backend/payments/services.py
  backend/pyproject.toml
  backend/users/services.py
  backend/users/tests/test_api.py
  backend/uv.lock
  frontend/.env.local.example
  frontend/src/lib/stripe.ts
  guides/coolify-deployment
Due: ruff, local-biome-check, frontend-typecheck

Update CICD
  .github/workflows/run-tests.yaml
Due: none

Update PRECOMMIT
  .github/workflows/run-tests.yaml
  .pre-commit-config.yaml
  backend/core/api.py
  backend/core/settings.py
  backend/core/urls.py
  backend/docker_entrypoint.py
  backend/manage.py
  backend/payments/__init__.py
  backend/payments/admin.py
  backend/payments/api.py
  backend/payments/management/__init__.py
  backend/payments/management/commands/__init__.py
  backend/payments/management/commands/create_plans.py
  backend/payments/models.py
  backend/payments/schemas.py
  backend/payments/services.py
  backend/pyproject.toml
  backend/users/admin.py
  backend/users/api.py
  backend/users/models.py
  backend/users/schemas.py
  backend/users/services.py
  backend/users/tests/factories.py
  backend/users/tests/test_api.py
  backend/users/tests/test_models.py
  justfile
Due: ruff

Update CICD
  .github/workflows/format-lint.yaml
Due: none

Fix CI
  .pre-commit-config.yaml
  README.md
  frontend/bun.lockb
  frontend/openapi.json
  frontend/package.json
  frontend/src/generated/backend-client/@tanstack/react-query.gen.ts
  frontend/src/generated/backend-client/schemas.gen.ts
  frontend/src/generated/backend-client/sdk.gen.ts
  frontend/src/generated/backend-client/types.gen.ts
  frontend/src/generated/backend-client/zod.gen.ts
  justfile
  scripts/generate-client.sh
Due: local-biome-check, frontend-typecheck

add new CI workflow
  .github/workflows/ci.yml
  .github/workflows/format-lint.yaml
  scripts/deploy.sh
Due: none

Update image paths
  frontend/public/hero-image-dark.jpeg
  frontend/public/hero-image-light.jpeg
  frontend/public/logo.png
  frontend/public/logo.svg
  frontend/public/logo_with_name.png
  frontend/public/logo_with_name.svg
  frontend/src/components/layout/CallToAction.tsx
  frontend/src/components/layout/Faqs.tsx
  frontend/src/components/layout/Hero.tsx
  frontend/src/components/layout/PrimaryFeatures.tsx
  frontend/src/components/layout/SecondaryFeatures.tsx
  frontend/src/components/layout/SlimLayout.tsx
  frontend/src/components/layout/Testimonials.tsx
Due: local-biome-check, frontend-typecheck

Update image paths
  frontend/src/components/common/logo.tsx
  frontend/src/components/layout/PrimaryFeatures.tsx
  frontend/src/components/layout/SecondaryFeatures.tsx
  frontend/src/components/layout/SlimLayout.tsx
  frontend/src/components/layout/Testimonials.tsx
Due: local-biome-check, frontend-typecheck

Setup just
  .github/workflows/ci.yml
Due: none

Add helper command to just file
  justfile
Due: none

Set dev mode true in CICD
  .github/workflows/ci.yml
  backend/.env.example
Due: none

Add default to CSRF TRUSTED ORIGINS env var
  backend/core/settings.py
Due: ruff

Remove print
  backend/core/settings.py
Due: ruff

Remove print
  frontend/openapi.json
Due: local-biome-check, frontend-typecheck

Add missing deps
  backend/pyproject.toml
Due: none

Rerun precommit hook
  backend/users/migrations/0001_initial.py
  backend/uv.lock
Due: ruff

Update pre-commit hook versions
  .pre-commit-config.yaml
Due: none
